@keyframes back1 {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 99% 100%;
  }
}

@keyframes back2 {
  from {
    background-size: 50% 48.56%;
  }
  to {
    background-size: 50% 43.9%;
  }
}

.page404 {
  .no-signal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    .layer1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .layer2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-left: -100%;
    }

    .tv-static {
      width: 100%;
      height: 100%;
      margin: auto;
      background-image: repeating-radial-gradient(
        circle at 17% 32%,
        white,
        black 0.00085px
      );
      opacity: 0.2;
    }

    .animation1 {
      animation: back1 1s linear infinite;
    }

    .animation2 {
      animation: back2 0.1s linear infinite;
    }

    .icon-no-signal {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
