.archive {
  margin-top: 5rem;
  grid-row-gap: 2rem !important;

  .archive-item {
    grid-column: span 3;
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (min-width: 768px) {
    margin-top: 12rem;

    .archive-item {
      grid-column: span 2;
    }
  }
}
