.archive {
  margin-top: 12rem;
  grid-row-gap: 8px !important;

  .archive-item {
    grid-column: span 3;
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (min-width: 768px) {
    .archive-item {
      grid-column: span 2;
    }
  }
}
