.archive {
  margin-top: 4.25rem;
  grid-row-gap: 0.8rem;

  .archive-item {
    grid-column: span 3;
    width: 100%;
  }

  .archive-item-media {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    &.is-loaded img,
    &.is-loaded video {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    margin-top: 12rem;
    grid-row-gap: 2rem;

    .archive-item {
      grid-column: span 2;
    }
  }
}
