.archive {
  margin-top: 4.25rem;
  grid-row-gap: 0.8rem;

  .archive-item {
    grid-column: span 3;
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (min-width: 768px) {
    margin-top: 12rem;
    grid-row-gap: 2rem;

    .archive-item {
      grid-column: span 2;
    }
  }
}
