.deck {
  .container {
    height: 300vh;
    position: relative;
    grid-column: 1 / -1;
    margin: 0 -8px;

    .sticky {
      position: sticky;
      top: 0;
      height: var(--100dvh);
      width: 100%;
      overflow: hidden;
    }

    .lightbox {
      width: 100%;
      position: relative;
      /*position: absolute;*/

      .img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .text {
    grid-column: 1 / -1;
    min-height: var(--100dvh);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    text-align: center;
    margin-top: var(--100dvh);
    position: relative;
  }
}
