:root {
  --deck-header-logo-width: 30px;
  --deck-header-logo-height: 18px;
  --intro-h1-font-size: clamp(1.95rem, 0.7696rem + 2.7174vw, 4.9rem);
  --intro-pb: 2.4rem;
  --placeholder-height: 90%;
  --footer-grid-row: 3;
  --footer-justify-content: space-between;
  --footer-tape-icon-display: flex;
  --intro-time-font-size: 1.3rem;
  --services-margin-top: 7rem;
  --services-h2-font-size: 2rem;
  --services-h2-grid-row: 1;
  --case-studies-margin-top: 17.2rem;
  --case-studies-marquee-font-size: clamp(2.9rem, 1.5304rem + 2.2826vw, 5rem);
  --case-study-flex-direction: column;
  --case-study-h3-font-size: 2.1rem;
  --case-study-h3-margin-bottom: 3rem;
  --content-category-order: 1;
}

@media screen and (min-width: 600px) {
  :root {
    --deck-header-logo-width: 40px;
    --deck-header-logo-height: 24px;
    --intro-pb: 0;
    --placeholder-height: 80%;
    --footer-grid-row: 2 / 3;
    --footer-justify-content: end;
    --footer-tape-icon-display: none;
    --intro-time-font-size: 2rem;
    --services-margin-top: 32.9rem;
    --case-studies-margin-top: var(--services-margin-top);
    --services-h2-font-size: 2.5rem;
    --services-h2-grid-row: span 2;
    --case-study-flex-direction: row;
    --case-study-h3-font-size: 2.5rem;
    --case-study-h3-margin-bottom: 4rem;
  }
}

header {
  width: 100%;
  position: sticky;
  top: var(--container-padding);
  display: flex;
  justify-content: space-between;

  .deck-header--logo {
    width: var(--deck-header-logo-width);
    height: var(--deck-header-logo-height);
  }

  nav {
    text-transform: uppercase;
    ul {
      display: flex;
    }
  }
}

footer {
  position: fixed;
  width: calc(100% - 2 * var(--container-padding-inline));
  bottom: var(--container-padding);
  right: var(--container-padding-inline);
  display: flex;
  justify-content: var(--footer-justify-content);
  align-items: center;
  font-size: var(--intro-time-font-size);

  grid-column: 1 / -1;
  grid-row: var(--footer-grid-row);

  svg {
    display: var(--footer-tape-icon-display);
    height: calc(var(--intro-time-font-size) * 0.9);
    margin-top: 1px;
    width: auto;
    vertical-align: baseline;
  }

  span {
    align-self: end;
  }
}

section {
  width: 100%;
  min-height: 100svh;
  overflow: clip;

  h2 {
    width: max-content;
    font-size: var(--services-h2-font-size);
    span {
      font-size: 1.6em;
      line-height: 0;
    }
  }
}

.intro {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: 1fr;

  grid-template-columns: 1fr;
  row-gap: 3rem;

  min-height: calc(100vh - 2.4rem - 2 * var(--deck-header-logo-height));
  padding-bottom: var(--intro-pb);

  .first-content {
    grid-column: span 2;
    max-height: calc(
      100vh - 4.8rem - var(--deck-header-logo-height) -
        (var(--intro-h1-font-size) * 3) - 6.8rem
    );
    align-content: center;
  }

  .placeholder {
    display: block;
    max-width: 80%;
    max-height: var(--placeholder-height);
  }

  h1 {
    font-size: var(--intro-h1-font-size);
    line-height: 90%;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .inline-icon {
    height: calc(var(--intro-h1-font-size) * 0.8);
    width: auto;
    margin-inline: 6px;

    vertical-align: baseline;
    line-height: inherit;
  }
}

.services {
  padding-bottom: 10.5rem;
  .services--grid {
    border-top: solid 1px var(--text);
    --min-column-width: 18rem;
    --max-columns: 5; /* max + 1 */

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--min-column-width), 100% / var(--max-columns)), 1fr)
    );
    gap: 5rem;
    margin-top: var(--services-margin-top);
    padding-top: 2.2rem;
    h2 {
      grid-row: var(--services-h2-grid-row);
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}

@keyframes --marquee {
  0% {
    transform: translateX(-19ch);
  }
  100% {
    transform: translateX(-38ch);
  }
}

.case-studies {
  --background: light-dark(var(--palette-black), var(--palette-blue));
  --text: var(--palette-white);

  background: var(--background);
  color: var(--text);
  text-transform: uppercase;
  .case-studies--grid {
    width: 100%;
    border-top: solid 1px var(--text);
    margin-top: var(--case-studies-margin-top);
    padding-top: 2.2rem;

    display: flex;
    justify-content: space-between;

    h2 {
      width: 25%;
      flex-shrink: 0;
    }

    ul {
      list-style-type: "* ";
      width: 25%;
      flex-shrink: 0;
      font-size: var(--services-h2-font-size);
      li {
        margin-bottom: 0.9em;
        a {
          font-size: inherit;
          color: inherit;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .marquee {
    display: inline-block;
    text-wrap: nowrap;
    margin-top: 25vh;
    font-size: var(--case-studies-marquee-font-size);
    animation: --marquee 10s linear infinite;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

.case-study {
  display: flex;
  flex-direction: var(--case-study-flex-direction);
  padding-top: 7.2rem;

  aside {
    flex: 1;
    h3 {
      font-size: var(--case-study-h3-font-size);
      margin-bottom: var(--case-study-h3-margin-bottom);
    }

    p {
      margin-bottom: 1.1rem;
    }

    a {
      display: block;
      color: var(--text);
      margin-bottom: 4rem;
    }
  }

  .content-grid {
    --content-icon-display: inline;
    --content-title-display: none;
    --content-year-display: none;

    flex: 3;
    grid-auto-rows: max-content;
    scroll-snap-align: unset;
  }
}
