:root {
  --deck-header-logo-width: 30px;
  --deck-header-logo-height: 18px;
  --intro-h1-font-size: clamp(1.95rem, 0.7696rem + 2.7174vw, 4.9rem);
  --placeholder-height: 90%;
}

@media screen and (min-width: 600px) {
  :root {
    --deck-header-logo-width: 40px;
    --deck-header-logo-height: 24px;
    --placeholder-height: 80%;
  }
}

header {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;

  .deck-header--logo {
    width: var(--deck-header-logo-width);
    height: var(--deck-header-logo-height);
  }

  nav {
    text-transform: uppercase;
    ul {
      display: flex;
    }
  }
}

section {
  width: 100%;
  height: calc(100vh - 4.8rem - var(--deck-header-logo-height));
}

.intro {
  display: grid;
  grid-template-rows: 1fr auto;

  .first-content {
    max-height: calc(
      100vh - 4.8rem - var(--deck-header-logo-height) -
        (var(--intro-h1-font-size) * 3)
    );
    align-content: center;
  }

  .placeholder {
    display: block;
    max-width: 80%;
    max-height: var(--placeholder-height);
  }

  h1 {
    font-size: var(--intro-h1-font-size);
    line-height: 90%;
  }

  .inline-icon {
    height: calc(var(--intro-h1-font-size) * 0.8);
    width: auto;
    margin-inline: 6px;

    vertical-align: baseline;
    line-height: inherit;
  }
}
