.deck {
  .container {
    height: 200vh;
    position: relative;
    grid-column: 1 / -1;
    margin: 0 -8px;

    .sticky {
      position: sticky;
      top: 0;
      height: var(--100dvh);
      width: 100%;
      overflow: hidden;
    }

    .lightbox {
      width: 100%;
      position: relative;

      .img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .bottom {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    margin-top: calc(var(--100dvh) * -1);
    position: relative;

    .info {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;

      .logo {
        height: 28px;
        width: auto;
      }
      h1 {
        font-family: var(--alt-font);
        font-size: 2rem;
        font-weight: 900;
        line-height: 1;
      }

      @media (min-width: 720px) {
        padding-top: 15vh;
        grid-column: 3 / -3;

        h1 {
          font-size: 4rem;
        }
      }
    }

    .projects {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;

      .filters {
        display: flex;
        justify-content: center;
        gap: 2px;

        li {
          background: light-dark(
            rgba(217, 217, 217, 0.75),
            rgba(49, 49, 49, 0.75)
          );
          backdrop-filter: blur(5px);
          padding: 0.6rem 1.5rem;
        }
        span {
          display: block;
          width: 12ch;
        }
      }
    }
  }
}
