body:has(.deck),
html:has(.deck) {
  background: var(--palette-black);
  color: var(--palette-white);

  .nav {
    .logo svg * {
      fill: var(--palette-white);
    }
    .top-nav {
      li {
        background: rgba(49, 49, 49, 0.75);
        color: var(--palette-white);

        &:hover {
          background-color: rgba(0, 0, 255, 0.75);
          color: white;
        }
      }
    }
  }
}

.deck {
  --text: #fff;

  .button {
    background: rgba(49, 49, 49, 0.75);
    color: var(--palette-white);

    &:hover {
      background-color: rgba(0, 0, 255, 0.75);
      color: white;
    }
  }

  .container {
    height: 200vh;
    position: relative;
    grid-column: 1 / -1;
    margin: 0 -8px;

    .sticky {
      position: sticky;
      top: 0;
      height: var(--100dvh);
      width: 100%;
      overflow: hidden;
    }

    .lightbox {
      width: 100%;
      position: relative;

      .img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .bottom {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    margin-top: calc(var(--100dvh) * -1);
    position: relative;

    .info {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;
      padding-bottom: 33vh;

      .logo {
        height: 28px;
        width: auto;
      }
      h1 {
        font-family: var(--alt-font);
        font-size: 2rem;
        font-weight: 800;
        line-height: 1;
      }

      @media (min-width: 768px) {
        padding-top: 15vh;
        grid-column: 3 / -3;

        h1 {
          font-size: 4rem;
        }
      }
    }

    .projects {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
      row-gap: 1.2rem;

      .top {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        height: fit-content;
        position: sticky;
        top: 36.5px;
        z-index: 10;

        .active-filter {
          width: 100%;
        }
      }

      .bottom {
        position: relative;
      }

      .filters {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2px;
        position: relative;

        .filter-list {
          position: absolute;
          top: 1px;
          width: 100%;
          display: flex;
          gap: 2px;
          flex-wrap: wrap;
          transform: translateY(50%);
          opacity: 0;
          pointer-events: none;

          button {
            opacity: 0;
            transform: translateY(1rem);
          }

          &.open {
            opacity: 1;
            pointer-events: auto;

            button {
              opacity: 1;
              transform: translateY(0);
            }

            button:nth-child(1),
            button:nth-child(2) {
              transition: all 0.3s ease-in-out 0.1s;
            }
            button:nth-child(3),
            button:nth-child(4) {
              transition: all 0.3s ease-in-out 0.2s;
            }
          }

          > * {
            width: calc(50% - 1px);

            label {
              display: block;
            }
          }
        }
      }

      .list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        row-gap: 2.4rem;
      }
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: solid 1px #777;
  padding: 0.8rem 0;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  position: relative;

  .project__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .project-info {
    grid-column: span 3;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-family: var(--alt-font);
      font-size: 2.8rem;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .asset-media {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
      display: block;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    &.is-loaded img,
    &.is-loaded video {
      opacity: 1;
    }
  }

  .featured {
    grid-column: 6 / 8;
    position: relative;
    height: fit-content;

    img,
    video {
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(12px);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .asset {
    grid-column: span 2;

    &:not(.featured) {
      opacity: 0;
    }

    img,
    video {
      width: 100%;
      height: auto;
    }
  }

  .type {
    position: absolute;
    top: 0.8rem;
    grid-column: 9 / 11;
  }

  .year {
    position: absolute;
    top: 0.8rem;
    grid-column: 12;
    width: 100%;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .deck {
    .bottom {
      .projects {
        row-gap: 2rem;
        .top {
          top: calc(12px + 26.5px + 2px);
        }

        .list {
          row-gap: 0;
        }
      }
    }
  }

  .project {
    display: grid;
    padding: 0.8rem 0;

    .asset:not(.featured) {
      opacity: 0;
      transform: translateY(1rem);
    }

    &:hover .overlay {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover .type,
    &:hover .year {
      opacity: 0;
    }

    &:hover .asset {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover :nth-child(2 of .asset) {
      transition: all 0.3s ease-in-out 0.1s;
    }

    &:hover :nth-child(3 of .asset) {
      transition: all 0.3s ease-in-out 0.2s;
    }

    &:hover :nth-child(4 of .asset) {
      transition: all 0.3s ease-in-out 0.3s;
    }
  }
}
