:root {
  --header-margin-bottom: 1.2rem;
  --first-content-aside-display: block;
  --first-content-mid-display: none;
  --asset-height: 90%;
  --aside-height: calc(100dvh - 4.2rem);
  --aside-margin-bottom: 2.4rem;
  --aside-scroll-snap-align: start;
}

@media screen and (min-width: 1000px) {
  :root {
    --header-margin-bottom: 2.4rem;
    --first-content-aside-display: none;
    --first-content-mid-display: block;
    --asset-height: 80%;
    --aside-width: 35rem;
    --aside-height: calc(100dvh - 4.8rem);
    --aside-margin-bottom: 0;
  }
}

.work-link {
  display: none;
}
.container {
  gap: 1.2rem;
}

#top {
  position: absolute;
  top: 0;
}

.work-link {
  position: absolute;
  right: 2.4rem;
  text-decoration: none;
  color: var(--text);
}

aside {
  grid-column: 2 / -2;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin-bottom: var(--aside-margin-bottom);
  scroll-snap-align: var(--aside-scroll-snap-align);
  scroll-margin-top: 4.2rem;

  .inner {
    position: sticky;
    height: calc(var(--100dvh) - 4.2rem);
    top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a.logo {
    z-index: 2;
    color: var(--text);
    /* margin-bottom: 2.4rem; */

    svg {
      height: calc(var(--font-size) * 1.2);
      width: auto;
    }
  }

  header {
    margin-top: 4rem;
    h1 ~ p {
      margin-top: 1lh;
    }
  }

  .first-content {
    flex-grow: 1;
    align-content: center;
    padding: 3rem;
  }

  .case-study__asset {
    max-height: calc(var(--aside-height) - 30lh);
    display: var(--first-content-aside-display);
  }

  @media (min-width: 1000px) {
    grid-column: 2 / span 3;
  }

  @media (min-width: 1400px) {
    grid-column: 2 / span 2;
  }
}

.content {
  grid-column: 2/ -2;
  width: 100%;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 1000px) {
    grid-column: 5 / span 9;
  }

  @media screen and (min-width: 1400px) {
    grid-column: 4 / span 10;
  }

  .first-content {
    display: var(--first-content-mid-display);
    height: calc(100dvh - 1.4rem);
    scroll-snap-align: start;
    align-content: center;
    margin: 0 auto;
  }

  .case-study__asset {
    max-width: 100%;
    max-height: 80vh;
  }
}

body:has(
    .content-grid[data-view="list"] figcaption:hover,
    .content-grid[data-view="list"] button:focus-visible
  )
  #hover-preview {
  display: block;
  opacity: 1;
}

#hover-preview {
  @starting-style {
    opacity: 0;
  }
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 3px;
  margin-left: 3px;
  z-index: 2;
  transition:
    display 0.2s ease,
    opacity 0.2s ease;
  transition-behavior: allow-discrete;
  img {
    max-width: 353px;
    max-height: 353px;
  }
}

@media screen and (width > 600px) {
  :root {
    --header-margin-bottom: 2.4rem;
    --asset-height: 80%;
    --aside-width: auto;
    --aside-height: calc(100dvh - 4.8rem);
  }

  /* aside {
    flex-basis: unset;
    flex: 1;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
  } */

  .content {
    flex-basis: unset;
    flex: 3;
  }

  .work-link {
    display: none;
  }

  dialog#lightbox {
    --modal-logo-visibility: none;
    --header-justify-content: end;
  }
}
