.nav {
  position: fixed;
  padding-block: 0.8rem;
  z-index: 9999;

  .logo {
    display: none;
  }

  .menu {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__inner {
      width: 100%;
      position: relative;
    }

    ul {
      display: flex;
      gap: 2px;

      > * {
        width: calc(100% / 3);
      }

      li {
        background: light-dark(
          rgba(217, 217, 217, 0.75),
          rgba(49, 49, 49, 0.75)
        );
        backdrop-filter: blur(5px);
        padding: 0.6rem 1.5rem;
      }
    }

    .about-list {
      position: absolute;
      top: calc(100% + 2px);
      flex-direction: column;
      width: 100%;
      pointer-events: none;
      /*display: none;*/

      &.open {
        pointer-events: auto;

        li {
          opacity: 1;
          transform: translateY(0);
        }

        li:nth-child(1) {
          transition: all 0.3s ease-in-out 0.1s;
        }

        li:nth-child(2) {
          transition: all 0.3s ease-in-out 0.2s;
        }

        li:nth-child(3) {
          transition: all 0.3s ease-in-out 0.3s;
        }

        li:nth-child(4) {
          transition: all 0.3s ease-in-out 0.4s;
        }
      }

      li {
        display: flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        transform: translateY(10%);
        transition: opacity 0.2s ease-in-out;
      }

      span {
        width: 100%;
        margin-bottom: 6px;
        opacity: 0.5;
      }

      a {
        display: block;
        width: fit-content;
        margin-top: 6px;
        background-color: var(--palette-blue);
      }
    }
  }

  .datetime {
    display: none;
    grid-column: 11 / -1;
    text-align: end;
  }

  @media (min-width: 768px) {
    padding-block: 1.2rem;

    .logo {
      display: block;
    }

    .menu {
      grid-column: 3 / -3;

      .menu__inner {
        width: fit-content;
      }
    }

    .datetime {
      display: block;
    }
  }
}
