.nav {
  position: fixed;
  padding-block: 1.2rem;
  z-index: 999;

  .logo {
    display: none;
  }

  .menu {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__inner {
      width: fit-content;
      position: relative;
    }

    ul {
      display: flex;
      gap: 2px;

      li {
        background: light-dark(
          rgba(217, 217, 217, 0.75),
          rgba(49, 49, 49, 0.5)
        );
        backdrop-filter: blur(5px);
        padding: 0.6rem 1.5rem;
        span {
          display: block;
          width: 11ch;
          text-align: center;
        }
      }
    }

    #about {
      position: absolute;
      top: calc(100% + 2px);
      flex-direction: column;
      width: 100%;
      display: none;

      * {
        text-align: center;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      span {
        width: 100%;
        margin-bottom: 6px;
        opacity: 0.5;
      }

      a {
        display: block;
        width: fit-content;
        margin-top: 6px;
        background-color: var(--palette-blue);
      }
    }
  }

  .datetime {
    display: none;
    grid-column: 11 / -1;
    text-align: end;
  }

  @media (max-width: 768px) {
    .nav {
      .logo {
        display: block;
      }

      .menu {
        grid-column: 3 / -3;
      }

      .datetime {
        display: block;
      }
    }
  }
}
