.screensaver {
  --speedX: 0.2;
  --speedY: 1.5;
  --width: 218px;
  --dx: 16;
  --dy: 22;

  @media screen and (min-width: 720px) {
    --speedX: 3;
    --speedY: 3;
    --width: 439px;
    --dx: 24;
    --dy: 34;
  }

  ::backdrop {
    background-color: var(--background);
  }

  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  border: none;
  overflow: clip;

  transition: opacity, overlay, display;
  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;

  &.show {
    transition-duration: 3s;
    opacity: 1;
  }

  svg {
    width: var(--width);
    height: auto;
    position: absolute;
  }
}

@starting-style {
  .screensaver.show {
    opacity: 0;
  }
}
