* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Fragment Mono", monospace;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  &:has(dialog[open]) {
    overflow: hidden;
  }

  &:has(.homepage),
  &:has(.404),
  &:has(.lightbox-dialog.show) {
    overscroll-behavior: contain;
  }
}

html:has(.lightbox-dialog.show) {
  overflow: hidden !important;
}

/*body {
  overflow-x: hidden;
  position: relative;
}*/

:root {
  --content-icon-display: none;
  --content-year-display: none;
  --font-size: 1.2rem;
  --grid-col-gap: 1.6rem;
  --grid-row-gap: 4.8rem;
  --100dvh: calc(100dvh - env(safe-area-inset-bottom));
  --alt-font: "DM Sans", helvetica, sans-serif;

  @media (min-width: 720px) {
    --grid-col-gap: clamp(3.2rem, 2.4vw, 2.4vw);
    --grid-row-gap: clamp(5.6rem, 3.7vw, 5.7vh);
  }
}

body {
  font-size: var(--font-size);
  text-transform: uppercase;
}

@media screen and (min-width: 720px) {
  :root {
    --content-year-display: inline;
  }
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--text);
}

a:has(svg) {
  color: var(--text);
}
a:has(svg):hover {
  color: var(--accent);
}

button {
  color: var(--text);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  --container-padding: 2.4rem;
  --container-padding-inline: 2rem;
  --100dvh: calc(var(--vh, 1dvh) * 100);
}
