* {
  box-sizing: border-box;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--text);
}

button {
  color: var(--text);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  --container-padding: 2.4rem;
  --container-padding-inline: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 151.2rem;
  width: 100%;
  padding: 2.4rem;
  padding-inline: 2rem;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  min-height: 100dvh;
}

.padding-inline-0 {
  padding-inline: 0;
}

.container-i {
  margin: 0 auto;
  max-width: 151.2rem;
  width: 100%;
  padding-inline: 2rem;
}

.placeholder {
  margin: 0 auto;
  border: solid var(--text) 1px;
  box-sizing: content-box;
  position: relative;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
  }

  &:not(:has(img))::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    clip-path: polygon(100% 0, 0% 100%, 0.5% 100%, 100% 0.5%);
  }

  &:not(:has(img))::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    clip-path: polygon(0 0, 100% 100%, 99.5% 100%, 0% 0.5%);
  }
}

.placeholder-h {
  aspect-ratio: 16 / 9;
}

.placeholder-v {
  aspect-ratio: 9 / 16;

  & ~ figcaption {
    width: calc(100% * (9 / 16));
  }
}

.placeholder-s {
  aspect-ratio: 1;
  img {
    width: 100%;
    height: 100%;
  }
}
