* {
  box-sizing: border-box;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--text);
}

.button {
  color: var(--text);
}

#container {
  margin: 0 auto;
  max-width: 151.2rem;
  width: 100%;
  padding: 2.4rem;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  min-height: 100dvh;
}

:root {
  --header-margin-bottom: 1.2rem;
  --first-content-aside-display: block;
  --first-content-mid-display: none;
  --placeholder-height: 90%;
  --aside-width: 100%;
  --aside-height: calc(100dvh - 6.4rem);
  --aside-margin-bottom: 2.4rem;
  --category-icon-display: none;
}

@media screen and (min-width: 600px) {
  :root {
    --header-margin-bottom: 2.4rem;
    --first-content-aside-display: none;
    --first-content-mid-display: block;
    --placeholder-height: 80%;
    --aside-width: 35rem;
    --aside-height: calc(100dvh - 4.8rem);
    --aside-margin-bottom: 0;
    --category-icon-display: block;
  }

  aside {
    position: fixed;
    padding-top: 4rem;
    margin: 0;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--header-margin-bottom);
  @media screen and (min-width: 600px) {
    position: fixed;
    width: calc(100% - 4.8rem);
  }
}

aside {
  width: var(--aside-width);
  display: flex;
  flex-direction: column;
  height: var(--aside-height);
  margin-bottom: var(--aside-margin-bottom);
  .first-content {
    flex-grow: 1;
    align-content: center;
  }
  .placeholder {
    display: var(--first-content-aside-display);
    width: 80%;
  }
}

.content-slot {
  align-content: center;
}

.content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    width: calc(100% - 35rem);
    padding-top: 4rem;
    padding-left: var(--aside-width);
  }

  .first-content {
    display: var(--first-content-mid-display);
    min-height: 100dvh;
  }

  .placeholder {
    max-width: 100%;
    max-height: 80vh;
    height: var(--placeholder-height);
  }
}

.content-grid {
  --min-column-width: 16rem;
  --max-columns: 4; /* max + 1 */

  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--min-column-width), 100% / var(--max-columns)), 1fr)
  );
  li {
    align-content: center;
  }
}

figure {
  figcaption {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;

    .content-category {
      align-items: center;
    }

    .content-category,
    .content-icon {
      display: var(--category-icon-display);
    }
  }
}

.placeholder {
  margin: 0 auto;
  border: solid var(--text) 1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    clip-path: polygon(100% 0, 0% 100%, 0.5% 100%, 100% 0.5%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    clip-path: polygon(0 0, 100% 100%, 99.5% 100%, 0% 0.5%);
  }
}

.placeholder-h {
  aspect-ratio: 16 / 9;
}

.placeholder-v {
  aspect-ratio: 9 / 16;
}

.placeholder-s {
  aspect-ratio: 1;
}
