* {
  box-sizing: border-box;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

html:has(.lightbox-dialog.show) {
  overflow: hidden !important;
}

:root {
  --content-icon-display: none;
  --content-year-display: none;
  --font-size: 1.2rem;
  --grid-col-gap: 1.6rem;
  --grid-row-gap: 4.8rem;
  --100dvh: calc(100dvh - env(safe-area-inset-bottom));

  @media (min-width: 720px) {
    --grid-col-gap: clamp(3.2rem, 2.4vw, 2.4vw);
    --grid-row-gap: clamp(5.6rem, 3.7vw, 5.7vh);
  }
}

body {
  font-size: var(--font-size);
  text-transform: uppercase;
}

@media screen and (min-width: 720px) {
  :root {
    --content-year-display: inline;
  }
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--text);
}

a:has(svg) {
  color: var(--text);
}
a:has(svg):hover {
  color: var(--accent);
}

button {
  color: var(--text);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  --container-padding: 2.4rem;
  --container-padding-inline: 2rem;
  --100dvh: calc(var(--vh, 1dvh) * 100);
}

.container {
  margin: 0 auto;
  /* max-width: 151.2rem; */
  width: 100%;
  padding: 2.4rem;
  padding-inline: 2rem;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  min-height: 100dvh;
  justify-content: space-between;
}

.padding-inline-0 {
  padding-inline: 0;
}

.container-i {
  margin: 0 auto;
  width: 100%;
}

.case-study__asset {
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
  }
}

.case-study__asset-h {
  aspect-ratio: 16 / 9;
}

.case-study__asset-v,
.reel {
  aspect-ratio: 9 / 16;
}

.case-study__asset-s {
  aspect-ratio: 1;
  img {
    width: 100%;
    height: 100%;
  }
}

figure {
  margin: 0;

  figcaption {
    margin-top: 0.8rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    .content-category {
      align-items: center;
    }

    .content-category,
    .content-client {
      display: var(--content-icon-display);
    }
    .content-icon {
      display: var(--content-icon-display);
    }
    .content-year {
      display: var(--content-year-display);
    }
    .content-title {
      display: var(--content-title-display, inline);
    }
  }
}
