@font-face {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/IBMPlexSansCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fragment Mono/FragmentMono-Regular.ttf") format("truetype");
}
