@font-face {
  font-family: "Fragment Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/FragmentMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/IBMPlexSansCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}
