@font-face {
  font-family: "Fragment Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fragment Mono/FragmentMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/DM Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
}
