.grid {
  --columns: 6;
  --padding: 1.2rem;
  --gap: 1.6rem;
  --padding: 1.2rem;

  display: grid;
  margin-inline: auto;
  width: 100%;
  gap: var(--gap);
  grid-template-columns:
    calc(var(--padding) - var(--gap)) repeat(var(--columns), minmax(0, 1fr))
    calc(var(--padding) - var(--gap));
  row-gap: 0;
  grid-auto-rows: min-content;
  padding-block: var(--padding);

  @media (min-width: 768px) {
    --columns: 12;
    --padding: 1.6rem;
    --gap: 3.2rem;
    --padding: 1.2rem;
  }

  .subgrid {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: 0 var(--gap);
  }
}
