:root {
  --columns: 6;
  --case-stud-columns: 6;
  --padding: 0.8rem;
  --gap: 0.8rem;
  --case-study-gap: 1.6rem;
}

@media (min-width: 900px) {
  :root {
    --columns: 12;
    --padding: 0.8rem;
    --case-stud-columns: 16;
  }
}

.grid {
  display: grid;
  margin-inline: auto;
  width: 100%;
  gap: var(--gap);
  grid-template-columns:
    calc(var(--padding) - var(--gap)) repeat(var(--columns), minmax(0, 1fr))
    calc(var(--padding) - var(--gap));
  row-gap: 0;
  grid-auto-rows: min-content;
  padding-block: var(--padding);

  .subgrid {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: 0 var(--gap);
  }

  .case-study-grid {
    grid-column: 2 / -2;
    grid-template-columns: repeat(var(--case-stud-columns), minmax(0, 1fr));
    gap: 0 var(--case-study-gap);
    display: grid;
  }
}

.content-grid {
  --min-column-width: 16rem;
  --max-columns: 3; /* max + 1 */
  --col-gap: 1.6rem;
  --row-gap: 4.8rem;

  @media (min-width: 900px) {
    --row-gap: clamp(5.6rem, 3.7vw, 5.7vh);
  }

  @media (min-width: 1400px) {
    --max-columns: 5;
  }

  scroll-snap-align: start;
  scroll-margin-block-start: 7.2rem;
  margin-block-start: 3.8rem;
  z-index: 1;
  min-height: 100dvh;

  button {
    display: contents;
  }

  &[data-view="grid"] {
    display: grid;
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--min-column-width), 100% / var(--max-columns)), 1fr)
    );

    figure:focus-within {
      outline: 1px solid Highlight;
      outline: 1px solid -webkit-focus-ring-color;
    }

    .case-study__asset {
      aspect-ratio: unset;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }
  }
  &[data-view="list"] {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li,
    figure {
      display: contents;
    }

    figure:focus-within figcaption {
      outline: 1px solid Highlight;
      outline: 1px solid -webkit-focus-ring-color;
    }

    figcaption {
      display: flex;
      width: 100%;
      height: 3.3rem;
      align-items: center;

      &:hover {
        background-color: var(--palette-blue);
        color: var(--palette-white);
      }

      span {
        display: inline-block;
        flex: 1;
        vertical-align: middle;
        text-align: start;

        &:nth-of-type(2) {
          min-width: 13ch;
        }
        &:nth-of-type(3) {
          max-width: 3ch;
        }

        &:last-of-type {
          text-align: right;
        }
      }
    }

    .case-study__asset {
      display: none;
    }
  }

  &[data-filter="strategy"] {
    li:not(:has([data-type="strategy"])) {
      display: none;
    }
  }
  &[data-filter="partnership"] {
    li:not(:has([data-type="partnership"])) {
      display: none;
    }
  }
  &[data-filter="amplification"] {
    li:not(:has([data-type="amplification"])) {
      display: none;
    }
  }
  &[data-filter="content"] {
    li:not(:has([data-type="content"])) {
      display: none;
    }
  }
  &[data-filter="earned media"] {
    li:not(:has([data-type="earned media"])) {
      display: none;
    }
  }
}
