.visually-hidden {
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.filters {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
}
