h1,
h2,
h3,
h4,
h5,
a,
p,
button,
label,
figcaption {
  font-family: var(--main-font);
  margin: 0;
  font-size: var(--font-size);
  font-weight: 400;
  text-transform: uppercase;
}

a,
.link {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

.link-accent {
  display: block;
  background-color: var(--palette-blue);
  color: var(--palette-white);
}

a:hover {
  color: var(--color-primary-dark);
}
