.font-mono {
  font-family: "IBM Plex Mono", monospace;
}

.font-sans {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
  font-size: 1.4rem;
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
}
