h1,
h2,
h3,
h4,
h5,
a,
p,
button,
label,
figcaption {
  font-family: var(--main-font);
  margin: 0;
  font-size: var(--font-size);
  font-weight: 400;
  text-transform: uppercase;
}

a,
.link {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

.link-accent {
  display: block;
  background-color: var(--palette-blue);
  color: var(--palette-white);
}

a:hover {
  color: var(--color-primary-dark);
}

.button {
  background: light-dark(rgba(217, 217, 217, 0.75), rgba(49, 49, 49, 0.75));
  backdrop-filter: blur(5px);
  padding: 0.6rem 1.5rem;
  width: 100%;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    text-align: center;
  }

  &:hover {
    background-color: rgba(0, 0, 255, 0.75);
    color: white;
  }

  @media (min-width: 768px) {
    width: fit-content;

    span {
      width: 14ch;
    }
  }
}

button:focus {
  outline: none;
}

/* Reapply a custom outline only when the element is focused via keyboard */
button:focus-visible {
  outline: 1px solid blue; /* Or any other desired style */
}
