---
import "../styles/components/deck.css";

import NotAnAdLogo from "../assets/images/svg/NOT_AN_AD_LOGO.svg";
import TapeIcon from "../assets/images/svg/tape_icon.svg";
import IconStrategy from "../assets/images/svg/icon_strategy.svg";
import IconPartnership from "../assets/images/svg/icon_partnerships.svg";
import IconContent from "../assets/images/svg/icon_content.svg";
import IconEarnedMedia from "../assets/images/svg/icon_earned_media.svg";
import IconAmplification from "../assets/images/svg/icon_amplification.svg";

import CaseStudy from "./CaseStudy.astro";
---

<div class="container padding-inline-0">
  <span id="top"> </span>
  <header class="container-i">
    <NotAnAdLogo class="deck-header--logo" fill="currentColor" />
    <nav>
      <ul>
        <li>Not an ad</li>
        <li>Services</li>
        <li>Case studies</li>
      </ul>
    </nav>
  </header>
  <section class="intro container-i">
    <figure class="first-content">
      <div class="placeholder placeholder-v">
        <img src="https://placehold.co/1080x1920" alt="" />
      </div>
    </figure>
    <h1>
      NOT AN AD<NotAnAdLogo class="inline-icon" fill="currentColor" />is a
      social media<br />
      advertising agency<TapeIcon class="inline-icon" />based<br />
      in new york city
    </h1>
  </section>
  <section class="services container-i">
    <div class="services--grid">
      <h2>[<span>↘</span>] Services</h2>
      <article>
        <h3>
          <IconStrategy fill="currentColor" width="1em" height="1em" />Strategy
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconPartnership
            fill="currentColor"
            width="1em"
            height="1em"
          />Partnerships
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconContent fill="currentColor" width="1em" height="1em" />Content
          creation
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconEarnedMedia fill="currentColor" width="1em" height="1em" />Earned
          media
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconAmplification
            fill="currentColor"
            width="1em"
            height="1em"
          />Amplification
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
    </div>
  </section>
  <section class="case-studies container-i">
    <div class="case-studies--grid">
      <h2>[<span>↘</span>] UGC</h2>
      <ul>
        <li>Domino's</li>
        <li>Dunkin</li>
        <li>Doordash</li>
      </ul>
    </div>
    <span class="marquee">
      | →[case studies]* <span aria-hidden="true"
        >| →[case studies]* | →[case studies]* | →[case studies]*</span
      >
    </span>
  </section>
  <section class="case-study container-i">
    <aside>
      <h3>UGC | [Dunkin]</h3>
      <p>▮ _ Year of the project - 2023</p>
      <a href="#">[↗] Link</a>
      <p>
        In eiusmod occaecat aute magna veniam elit minim consectetur adipisicing
        exercitation par iatur exercitation veniam magna. Labore nisi laboris
        tempor sint non. Deserunt eiusmod esse exercitation. Pariatur consequat
        in excepteur quis voluptate aliquip aute deserunt non. Sunt ipsum
        proident laboris sint occaecat ad exercitation nostrud ullamco fugiat
        nisi ex ullamco dolor.
      </p>
    </aside>
    <ul class="content-grid" data-view="grid">
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="s"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="v"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1920" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="h"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1920x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="s"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="h"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1920x1080" alt="" />
      </CaseStudy>

      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="v"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1920" alt="" />
      </CaseStudy>
    </ul>
  </section>
  <footer class="intro-footer">
    <TapeIcon />
    <span id="intro-time">15:32:00</span>
  </footer>
</div>
<script>
  const introTime = document.getElementById("intro-time") as HTMLSpanElement;

  function updateTime() {
    const time = new Date();
    const formattedTime = time.toLocaleTimeString("en-US", { hour12: false });
    introTime.textContent = formattedTime;
  }

  updateTime();
  setInterval(updateTime, 1000);
</script>
