---
import "../styles/components/deck.css";

import NotAnAdLogo from "../assets/images/svg/NOT_AN_AD_LOGO.svg";
---

<div id="container">
  <span id="top"> </span>
  <header>
    <NotAnAdLogo width={40} height={24} fill="currentColor" />
    <nav>
      <ul>
        <li>Not an ad</li>
        <li>Services</li>
        <li>Case studies</li>
      </ul>
    </nav>
  </header>
</div>
