---
import "../styles/components/deck.css";

import NotAnAdLogo from "../assets/images/svg/NOT_AN_AD_LOGO.svg";
import TapeIcon from "../assets/images/svg/tape_icon.svg";
import IconStrategy from "../assets/images/svg/icon_strategy.svg";
import IconPartnership from "../assets/images/svg/icon_partnerships.svg";
import IconContent from "../assets/images/svg/icon_content.svg";
import IconEarnedMedia from "../assets/images/svg/icon_earned_media.svg";
import IconAmplification from "../assets/images/svg/icon_amplification.svg";

import CaseStudy from "./CaseStudy.astro";
import Screensaver from "./Screensaver.astro";
---

<Screensaver />
<div class="container padding-inline-0">
  <span id="top"> </span>
  <header class="container-i">
    <a href="/" aria-label="Home">
      <NotAnAdLogo class="deck-header--logo" fill="currentColor" />
    </a>
    <nav>
      <details role="tabpanel" id="nav-0">
        <summary>Not an ad</summary>
        <ul role="tablist">
          <li role="tab"><button>Not an ad</button></li>
          <li role="tab"><button id="btn-0-1-1">Services</button></li>
          <li role="tab"><button id="btn-0-1-2">Case studies</button></li>
        </ul>
      </details>
      <details role="tabpanel" id="nav-1">
        <summary
          ><IconStrategy
            fill="currentColor"
            width="1em"
            height="1em"
          />Strategy</summary
        >
        <ul role="tablist" id="nav-1-1">
          <li role="tab">
            <button
              ><IconStrategy
                fill="currentColor"
                width="1em"
                height="1em"
              />Strategy</button
            >
          </li>
          <li role="tab">
            <button
              ><IconPartnership
                fill="currentColor"
                width="1em"
                height="1em"
              />Partnerships</button
            >
          </li>
          <li role="tab">
            <button
              ><IconAmplification
                fill="currentColor"
                width="1em"
                height="1em"
              />Amplification</button
            >
          </li>
          <li role="tab">
            <button
              ><IconContent
                fill="currentColor"
                width="1em"
                height="1em"
              />Content creation</button
            >
          </li>
          <li role="tab">
            <button
              ><IconEarnedMedia
                fill="currentColor"
                width="1em"
                height="1em"
              />Earned media</button
            >
          </li>
        </ul>
        <ul role="tablist" id="nav-1-2">
          <li role="tab">
            <button id="btn-1-2-0">UGC</button>
          </li>
          <li role="tab">
            <button id="btn-1-2-1">Studio</button>
          </li>
          <li role="tab">
            <button id="btn-1-2-2">Broadcast</button>
          </li>
          <li role="tab">
            <button id="btn-1-2-3">Partnerships</button>
          </li>
        </ul>
      </details>
      <details role="tabpanel" id="nav-2">
        <summary
          ><IconStrategy
            fill="currentColor"
            width="1em"
            height="1em"
          />Strategy</summary
        >
        <ul role="tablist" id="nav-2-0">
          <li role="tab">
            <button>UGC-1</button>
          </li>
          <li role="tab">
            <button>UGC-2</button>
          </li>
          <li role="tab">
            <button>UGC-3</button>
          </li>
        </ul>
        <ul role="tablist" id="nav-2-1">
          <li role="tab">
            <button>Studio-1</button>
          </li>
          <li role="tab">
            <button>Studio-2</button>
          </li>
          <li role="tab">
            <button>Studio-3</button>
          </li>
        </ul>
        <ul role="tablist" id="nav-2-2">
          <li role="tab">
            <button>Broadcast-1</button>
          </li>
          <li role="tab">
            <button>Broadcast-2</button>
          </li>
          <li role="tab">
            <button>Broadcast-3</button>
          </li>
        </ul>
        <ul role="tablist" id="nav-2-3">
          <li role="tab">
            <button>Partnerships-1</button>
          </li>
          <li role="tab">
            <button>Partnerships-2</button>
          </li>
          <li role="tab">
            <button>Partnerships-3</button>
          </li>
        </ul>
      </details>
    </nav>
  </header>
  <section class="intro container-i">
    <figure class="first-content">
      <div class="placeholder placeholder-v">
        <img src="https://placehold.co/1080x1920" alt="" />
      </div>
    </figure>
    <h1>
      NOT AN AD<NotAnAdLogo class="inline-icon" fill="currentColor" />is a
      social media<br />
      advertising agency<TapeIcon class="inline-icon" />based<br />
      in new york city
    </h1>
  </section>
  <section class="services container-i">
    <div class="services--grid">
      <h2>[<span>↘</span>] Services</h2>
      <article>
        <h3>
          <IconStrategy fill="currentColor" width="1em" height="1em" />Strategy
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconPartnership
            fill="currentColor"
            width="1em"
            height="1em"
          />Partnerships
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconContent fill="currentColor" width="1em" height="1em" />Content
          creation
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconEarnedMedia fill="currentColor" width="1em" height="1em" />Earned
          media
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
      <article>
        <h3>
          <IconAmplification
            fill="currentColor"
            width="1em"
            height="1em"
          />Amplification
        </h3>
        <p>
          ↳ In eiusmod occaecat aute magna veniam elit minim consectetur
          adipisicing exercitation pariatur exercitation veniam magna. Labore
          nisi laboris tempor sint non.
        </p>
      </article>
    </div>
  </section>
</div>
<section class="case-studies">
  <div class="container">
    <div class="case-studies--grid">
      <h2>[<span>↘</span>] UGC</h2>
      <ul>
        <li><a href="#dominos">Domino's</a></li>
        <li><a href="#dunkin">Dunkin</a></li>
        <li><a href="#doordash">Doordash</a></li>
      </ul>
    </div>
    <span class="marquee">
      | →[case studies]* <span aria-hidden="true"
        >| →[case studies]* | →[case studies]* | →[case studies]* | →[case
        studies]* | →[case studies]*
      </span>
    </span>
  </div>
</section>
<div class="container padding-inline-0">
  <section class="case-study container-i" id="dominos">
    <aside>
      <h3>UGC | [Domino's]</h3>
      <p>▮ _ Year of the project - 2023</p>
      <a href="#">[↗] Link</a>
      <p>
        In eiusmod occaecat aute magna veniam elit minim consectetur adipisicing
        exercitation par iatur exercitation veniam magna. Labore nisi laboris
        tempor sint non. Deserunt eiusmod esse exercitation. Pariatur consequat
        in excepteur quis voluptate aliquip aute deserunt non. Sunt ipsum
        proident laboris sint occaecat ad exercitation nostrud ullamco fugiat
        nisi ex ullamco dolor.
      </p>
    </aside>
    <ul class="content-grid" data-view="grid">
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="s"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="v"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1920" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="h"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1920x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="s"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="h"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1920x1080" alt="" />
      </CaseStudy>

      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="v"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1920" alt="" />
      </CaseStudy>
    </ul>
  </section>
  <section class="case-study container-i" id="dunkin">
    <aside>
      <h3>UGC | [Domino's]</h3>
      <p>▮ _ Year of the project - 2023</p>
      <a href="#">[↗] Link</a>
      <p>
        In eiusmod occaecat aute magna veniam elit minim consectetur adipisicing
        exercitation par iatur exercitation veniam magna. Labore nisi laboris
        tempor sint non. Deserunt eiusmod esse exercitation. Pariatur consequat
        in excepteur quis voluptate aliquip aute deserunt non. Sunt ipsum
        proident laboris sint occaecat ad exercitation nostrud ullamco fugiat
        nisi ex ullamco dolor.
      </p>
    </aside>
    <ul class="content-grid" data-view="grid">
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="s"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="v"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1920" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="h"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1920x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="s"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1080" alt="" />
      </CaseStudy>
      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="h"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1920x1080" alt="" />
      </CaseStudy>

      <CaseStudy
        id="s1"
        title="Square"
        category="strategy"
        year="2025"
        shape="v"
      >
        <IconStrategy
          slot="icon"
          fill="currentColor"
          width="15"
          height="15"
          role="presentation"
        />
        <img slot="image" src="https://placehold.co/1080x1920" alt="" />
      </CaseStudy>
    </ul>
  </section>

  <footer class="intro-footer">
    <TapeIcon />
    <span id="intro-time">15:32:00</span>
  </footer>
</div>
<dialog id="lightbox">
  <header>
    <NotAnAdLogo width={24} fill="currentColor" />
    <button class="button">[ X ]</button>
  </header>
  <figure class="modal-content"></figure>
</dialog>
<script>
  const introTime = document.getElementById("intro-time") as HTMLSpanElement;

  function updateTime() {
    const time = new Date();
    const formattedTime = time.toLocaleTimeString("en-US", { hour12: false });
    introTime.textContent = formattedTime;
  }

  updateTime();
  setInterval(updateTime, 1000);

  /** navigation selector */
  //const nav = document.querySelector("nav") as HTMLElement;
  const topLevel = document.getElementById("nav-0") as HTMLDetailsElement;
  const topLevelButtons = document.querySelectorAll(
    'nav button[id^="btn"]'
  ) as NodeListOf<HTMLButtonElement>;

  function handleNavigation(i: number, event: Event) {
    const target = event.target as HTMLButtonElement;
    const targetId = target.id;
    const menuLevel = targetId.split("-")[2];
    const menuNumber = targetId.split("-")[3];

    // open the child
    const detail = document.getElementById(
      `nav-${menuLevel}`
    ) as HTMLDetailsElement;
    detail.style.setProperty("display", "block");
    detail.setAttribute("open", "");

    // hide all ULs
    const uls = detail.querySelectorAll(`ul`) as NodeListOf<HTMLUListElement>;
    uls.forEach((n: HTMLUListElement) => {
      n.style.setProperty("display", "none");
    });

    // only show the correct UL in the neighbouring child
    const subMenuElement = document.getElementById(
      `nav-${menuLevel}-${menuNumber}`
    ) as HTMLUListElement;
    if (subMenuElement) {
      subMenuElement.style.setProperty("display", "block");
    }

    topLevel.setAttribute("open", "");
  }

  topLevelButtons.forEach((button, i) => {
    button.addEventListener("click", (e) => handleNavigation(i, e));
  });
</script>
<script src="../scripts/lightbox.js"></script>
