---
import IconVolume from "../assets/images/svg/volume.svg";
import IconVolumeOff from "../assets/images/svg/volumeoff.svg";
import IconPause from "../assets/images/svg/pause.svg";
import IconPlay from "../assets/images/svg/play.svg";
import IconNoSignal from "../assets/images/svg/no_signal.svg";
---

<div class="page404 subgrid">
  <div class="reel">
    <div class="lightbox">
      <div class="no-signal">
        <div class="layer1">
          <div class="tv-static animation1"></div>
        </div>
        <div class="layer2">
          <div class="tv-static animation2"></div>
        </div>
        <IconNoSignal class="icon-no-signal" />
      </div>
      <div class="video-controls">
        <div class="homepage-controls">
          <div class="main-controls">
            <div class="volume-controls">
              <button
                id="mute-btn"
                class="control-btn"
                aria-label="Toggle mute"
              >
                <IconVolume class="icon-volume" />
                <IconVolumeOff class="icon-volume-off" style="display: none;" />
              </button>

              <div class="custom-volume-slider">
                <div class="volume-track"></div>
                <div class="volume-indicator">
                  <svg width="8" height="12" viewBox="0 0 8 12">
                    <polygon points="0,6 8,0 8,12" fill="currentColor"
                    ></polygon>
                  </svg>
                </div>
              </div>
            </div>
            <div class="playback-controls">
              <button
                id="play-pause-btn"
                class="control-btn"
                aria-label="Play/Pause"
              >
                <IconPause class="icon-pause" />
                <IconPlay class="icon-play" style="display: none;" />
              </button>
            </div>
          </div>

          <div class="time-display">
            <span id="lightbox-current-time">00:00:00:00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
