---
import NotAnAdLogo from "../assets/images/svg/NOT_AN_AD_LOGO.svg";
import IconStrategy from "../assets/images/svg/icon_strategy.svg";
import CaseStudy from "./CaseStudy.astro";
---

<div id="container">
  <nav>
    <NotAnAdLogo width={24} fill="currentColor" />
    <a class="button">Menu</a>
  </nav>

  <aside>
    <header>
      <h1>
        NOT AN AD is a social-media advertising agency based in New York City.
      </h1>
      <br />
      <p>
        Traditional messaging strategies simply will not reach those born into
        an ad-saturated world. With our extensive experience in organic social
        content we will help create an online presence that cultivates a
        dedicated following for your brand.
      </p>
    </header>
    <figure class="first-content">
      <div class="placeholder placeholder-v"></div>
    </figure>
    <footer class="footer">
      <p>
        to discuss a potential project, please email use with a brief
        description, a timeline and a rough budget.
      </p>
      <br />
      <p>→ <a href="mailto:info@notanad.us">youup@notanad.us</a></p>
    </footer>
  </aside>

  <section class="content">
    <figure class="first-content content-slot">
      <div class="placeholder placeholder-v"></div>
    </figure>
    <ul class="content-grid">
      <li>
        <CaseStudy title="Square" category="Feature" year="2025" shape="s">
          <IconStrategy
            slot="icon"
            fill="currentColor"
            width="15"
            height="15"
            role="presentation"
          />
        </CaseStudy>
      </li>
      <li>
        <CaseStudy title="Landscape" category="Feature" year="2025" shape="h">
          <IconStrategy
            slot="icon"
            fill="currentColor"
            width="15"
            height="15"
            role="presentation"
          />
        </CaseStudy>
        <li>
          <CaseStudy title="Portrait" category="Feature" year="2025" shape="v">
            <IconStrategy
              slot="icon"
              fill="currentColor"
              width="15"
              height="15"
              role="presentation"
            />
          </CaseStudy>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-v"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-h"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-v"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-h"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-s"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-h"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="content-slot">
            <div class="placeholder placeholder-v"></div>
            <figcaption>
              <span class="content-title">Paramount</span>
              <span class="content-category">Social strategy </span>
              <span class="content-icon">
                <IconStrategy
                  fill="currentColor"
                  width="15"
                  height="15"
                  role="presentation"
                />
              </span>
              <span class="content-year">2022 </span>
            </figcaption>
          </figure>
        </li>
      </li>
    </ul>
  </section>
</div>
