---
import NotAnAdLogo from "../assets/images/svg/NOT_AN_AD_LOGO.svg";
---

<div id="container">
  <nav>
    <NotAnAdLogo width={24} fill="currentColor" />
    <a class="button">Menu</a>
  </nav>

  <header>
    <h1>
      NOT AN AD is a social-media advertising agency based in New York City.
    </h1>
    <br />
    <p>
      Traditional messaging strategies simply will not reach those born into an
      ad-saturated world. With our extensive experience in organic social
      content we will help create an online presence that cultivates a dedicated
      following for your brand.
    </p>
  </header>
  <div class="first-content">
    <div class="placeholder placeholder-v">doink</div>
  </div>
  <footer class="footer">
    <p>
      to discuss a potential project, please email use with a brief description,
      a timeline and a rough budget.
    </p>
    <br />
    <p>→ <a href="mailto:info@notanad.us">youup@notanad.us</a></p>
  </footer>

  <section class="content">
    <div class="placeholder placeholder-s">doink</div>
  </section>
</div>
