---
import "../styles/components/screensaver.css";

import NAAVideo from "../assets/images/svg/NAA-video.svg";
---

<svg width="0" height="0">
  <filter id="dvd">
    <feOffset dx="-24" dy="34" result="copy1"></feOffset>
    <feBlend in="copy1"></feBlend>
  </filter>
</svg>
<div class="screensaver">
  <NAAVideo />
</div>
