---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import "../styles/global.css";
import Screensaver from "../components/Screensaver.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/NOT_AN_AD_LOGO.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>NOT AN AD</title>
  </head>
  <body>
    <!-- <Screensaver /> -->
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
